<h1>Sign up!</h1>

<%= form_for @user do |f|%>
    E-mail: <br /><%= f.text_field :email %><br />
    Avatar: <br /><%= f.file_field :avatar %><br />
    Password: <br /><%= f.password_field :password %><br />
    Password confirmation: <br /><%= f.password_field :password_confirmation %><br />

    <%=f.submit %>

<% end %>